body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: darkblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: #61dafb;
}
